<div id="footer">
  <div class="container">
    <p class="pull-right text-muted"><%= mail_to "chris@excid3.com", "Help", subject: "I need help with Fluttrly!" %></p>
    <p class="text-muted">Copyright &copy; <%= link_to "Chris Oliver", "http://excid3.com" %> 2013</p>
  </div>
</div>
